.custom-header {
  color: #1976d2; /* Customize header text color */
  font-family: 'Arial', sans-serif; /* Customize font family */
  font-size: large;
  font-weight: bold; /* Customize font weight */
  background-color: #94a0bdac;
  }